:root {
    --black: #020202;
    --white: #FFFFFF;
    --white-faded: #E0E1E4;
    --gray-100: #979797;
    --gray-200: #5E605F;
    --gray-300: #323232;
    --orange: #F68920;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%
}

button {
    font: inherit;
    color: inherit;
    outline: none;
    border: none;
    cursor: pointer;
    padding: .8rem;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

body {
    background-color: var(--white-faded);
    font-size: 2.2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: var(--black);
    border-radius: 1.2rem;
    padding: 1rem;
    box-shadow:
    0 0 0 .4rem var(--gray-300),
    0 0 0 .6rem var(--white-faded),
    0 0 0 .8rem var(--gray-100);
}

.calculation {
    color: var(--gray-100);
    margin-bottom: 1rem;
}

.result {
    color: var(--white);
    margin-bottom: 1rem;
}

.calculation,
.result {
    text-align: right;
}

.buttons {
    color: var(--white);
}

.button-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .6rem;
}

.button-row:not(:last-child) {
    margin-bottom: 1rem;
}

.orange-bg {
    background-color: var(--orange);
}

.gray-200-bg {
    background-color: var(--gray-200);
}

.gray-300-bg {
    background-color: var(--gray-300);
}

.gray-100-border {
    border: .16rem solid var(--gray-100);
}

.gray-200-border {
    border: .16rem solid var(--gray-200);
}

.white-faded-border {
    border: .16rem solid var(--white-faded);
}